@tailwind base;
@tailwind components;
@tailwind utilities;

.phone-input-container {
  display: flex !important;
  align-items: stretch;
}

.phone-input-container .PhoneInputCountry {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
}

.phone-input-container input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}